body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.green-background {
  background-color: #849d8f;
}

.blue-background {
  background-color: #8996a6;
}

.purple-background {
  background-color: #9d8b84;
}

ul {
  padding-left: 0;
}

a {
  font-weight: 700;
  color: #ffffff;
}

a:hover {
  color: #ffbc9e;
}

a:active {
  color: #ffbc9e;
}

.btn {
  padding: 15px 25px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.btn-lg {
  padding: 17px 42px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 50px;
}

.btn-red {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #e74a35;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  color: #fefefe;
}

.btn-red:hover {
  box-shadow: 0 2px 2px #ac1000;
  color: #ffffff;
}

.btn-red:active {
  box-shadow: inset 0 2px 2px #942718;
}

.btn-transparent,
.input-transparent {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

input:hover,
textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

input:focus,
textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/*хэдер*/
.header .row {
  margin-bottom: 0px;
}

.header-navigation-site {
  display: flex;
  line-height: 18px;
  margin-left: 25px;
}

.header-navigation-site,
.header-navigation-user,
.catalog-submenu {
  list-style: none;
}

.header-navigation-site a,
.header-navigation-user a {
  color: #ffffff;
}

.header-navigation-site a:hover {
  background-color: #f7f6f3;
  color: #323232;
  text-decoration: none;
}

.header-navigation-site a:active {
  background-color: #ededed;
  color: #323232;
  text-decoration: none;
}

.header-navigation-site-item {
  margin-right: 29px;
}

/* выпадашка меню */

.catalog-submenu {
  background-color: #f8f7f4;
  position: absolute;
}

.catalog-submenu a {
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog-submenu a:hover {
  background-color: #fbded7;
}

.catalog-submenu a:active {
  background-color: #f6b5a5;
}

.catalog-submenu {
  display: none;
}

.header-navigation-site-item:hover ul.catalog-submenu {
  display: block;
}

.active {
  color: #ffffff;
  background-color: #d07058;
}

.btn-transparent:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.header-navigation-user {
  display: flex;
  justify-content: flex-end;
}

.header-nav-user-item {
  margin-left: 10px;
}

.header-contacts {
  text-align: right;
}

.header-contacts-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-contacts-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.popup {
  background-color: #f8f7f4;
  display: none;
  position: absolute;
}

/* выпадашка на поиск */

.header-navigation-user-search:hover .search-popup {
  display: block;
}

/* выпадашка на вход */

.header-navigation-user-login:hover .login-popup {
  display: block;
}

.login-popup a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}

/* выпадашка на корзину */

.basket-table {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-with-products:hover + .basket-popup {
  display: block;
}

.basket-table-price {
  color: #999999;
}

.basket-table-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

/* промо */

.promo-slides {
  list-style: none;
}

.promo-slide {
  text-align: center;
}

.promo-slide-heading {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  color: #ffffff;
}

.slides-switches {
  list-style: none;
}

/* банеры */
.banners-item {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 17px;
}

.banners-item-raspberry {
  background-image: url("../img/raspberry-bg.jpg");
}

.banners-item-chocolate {
  background-image: url("../img/chocolate-bg.jpg");
}

.banners-item-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.banners-item-desc {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
}

/* хиты */
.product-list {
  list-style: none;
  flex-wrap: wrap;
}

.product-list li.product-item {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-bottom: 40px;
}

.product-desc a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.product-price-cost {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.product-price-amount {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.product-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
}

.product-item button {
  display: none;
}

.product-item:hover button {
  display: block;
}

/* преимущества */

.features {
  color: #323232;
  background-image: url("../img/waffle.jpg");
}

.features-list {
  list-style: none;
}

.features-desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.feature-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* блог */

.blog-preview {
  color: #323232;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-preview-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-preview-content a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.blog-preview-content a:hover {
  color: #e84d37;
}

.blog-preview-content a:active {
  color: #e84d37;
}

/* подписка */

.mailing {
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mailing-wrapper {
  background-color: #f8f7f4;
}

.mailing-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
}

/* контакты */

.contacts-address {
  color: #323232;
  background-color: #ffffff;
}

.contacts-address-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts-address-content {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.map-placeholder {
  width: 100%;
}

/* футер */

.footer-navigation {
  display: flex;
  justify-content: center;
}

.footer-social li {
  display: inline;
}

.footer-nav-column {
  margin: 0 16px;
}

.footer-social,
.footer-navigation ul {
  list-style: none;
}

.footer-navigation-item a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.whomade {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
  text-align: right;
}

a.bold {
  font-weight: 700;
}

/* обратная связь */

.feedback-popup-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

/* каталог */

/* шапка */

.basket-with-products {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

/* Хлебные крошки */

.breadcrumbs {
  list-style: none;
  margin: 0px;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs-item-current {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

/* название страницы каталога */

.catalog-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

/* фильтры */
.filter-choice {
  display: flex;
  flex-wrap: wrap;
}

.filter-choice-col {
  margin-right: 16px;
}

.filter-choice-col:nth-child(5n) {
  margin-right: 0px;
}

.filter-choice select.input-transparent:hover {
  color: #323232;
}

.btn-filter {
  border: 2px solid #ffffff;
}

.btn-filter:hover {
  color: #323232;
  background-color: #ffffff;
}

.btn-filter:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

/* пагинация */

.pagination-list {
  list-style: none;
  text-align: right;
}

.pagination-item {
  display: inline;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}

/* сетка */
.container {
  width: 1146px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-bottom: 40px;
}

.col-1 {
  width: 23.323%;
  margin-right: 2.2%;
  box-sizing: border-box;
}

.col-1:nth-child(4n) {
  margin-right: 0;
}

.col-2 {
  width: 48.846%;
  margin-right: 2.2%;
  box-sizing: border-box;
}

.col-2:nth-child(2n) {
  margin-right: 0;
}

.col-3 {
  width: 76.569%;
  box-sizing: border-box;
}
