body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

/* .green-background {
  background-color: #849d8f;
}

.blue-background {
  background-color: #8996a6;
}

.purple-background {
  background-color: #9d8b84;
} */

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/group1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

ul {
  padding-left: 0;
}

a {
  font-weight: 700;
  color: #ffffff;
}

a:hover {
  color: #ffbc9e;
}

a:active {
  color: #ffbc9e;
}

.btn {
  padding: 12px 23px;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.btn-lg {
  display: inline-block;
  padding: 10px 41px;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
}

.btn-red {
  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  color: #ffffff;
}

.btn-red:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-red:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-transparent,
.input-transparent {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

input:hover,
textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

input:focus,
textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/*хэдер*/

.header nav {
  padding-top: 10px;
}

.header .row {
  margin-bottom: 0px;
}

.header-navigation-site {
  display: flex;
  line-height: 18px;
  margin-left: 25px;
}

.header-navigation-site,
.header-navigation-user,
.catalog-submenu {
  list-style: none;
}

.header-navigation-site a,
.header-navigation-user a {
  color: #ffffff;
}

.header-navigation-site a:hover {
  background-color: #f7f6f3;
  color: #323232;
  text-decoration: none;
}

.header-navigation-site a:active {
  background-color: #ededed;
  color: #323232;
  text-decoration: none;
}

.header-navigation-site-item {
  margin-right: 29px;
}

/* выпадашка меню */

.catalog-submenu {
  background-color: #f8f7f4;
  position: absolute;
}

.catalog-submenu a {
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog-submenu a:hover {
  background-color: #fbded7;
}

.catalog-submenu a:active {
  background-color: #f6b5a5;
}

.catalog-submenu {
  display: none;
}

.header-navigation-site-item:hover ul.catalog-submenu {
  display: block;
}

.active {
  color: #ffffff;
  background-color: #d07058;
}

.btn-transparent:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.header-navigation-user {
  display: flex;
  justify-content: flex-end;
}

.header-nav-user-item {
  margin-left: 10px;
}

.header-contacts {
  text-align: right;
}

.header-contacts-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-contacts-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.popup {
  background-color: #f8f7f4;
  display: none;
  position: absolute;
}

/* выпадашка на поиск */

.header-navigation-user-search:hover .search-popup {
  display: block;
}

/* выпадашка на вход */

.header-navigation-user-login:hover .login-popup {
  display: block;
}

.login-popup a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}

/* выпадашка на корзину */

.basket-table {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-with-products:hover+.basket-popup {
  display: block;
}

.basket-table-price {
  color: #999999;
}

.basket-table-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

/* промо */

.promo {
  position: relative;
  padding-top: 245px;
  margin-bottom: 40px;
}

.promo-slides {
  list-style: none;
  margin-bottom: 0;
}

.promo-slide {
  text-align: center;
}

.slide {
  display: none;
}

#slide-1:checked~.site-wrapper #promo-slide-1,
#slide-2:checked~.site-wrapper #promo-slide-2,
#slide-3:checked~.site-wrapper #promo-slide-3 {
  display: block;
}

.promo-slide-heading {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  color: #ffffff;
}

.slides-switches {
  position: absolute;
  bottom: 25px;
  left: 0px;
  z-index: 20;
  font-size: 0px;
}

.slides-switches label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

#slide-1:checked~.site-wrapper label[for="slide-1"],
#slide-2:checked~.site-wrapper label[for="slide-2"],
#slide-3:checked~.site-wrapper label[for="slide-3"] {
  background-color: #ffffff;
}

#slide-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/group1.png");
}

#slide-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/group2.png");
}

#slide-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/group3.png");
}

/* банеры */

.banners-item {
  max-width: 560px;
  min-height: 229px;
  padding-top: 23px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 23px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 17px;
  position: relative;
}

.banners-item-raspberry {
  background-image: url("../img/raspberry-bg.jpg");
}

.banners-item-chocolate {
  background-image: url("../img/chocolate-bg.jpg");
}

.banners-item-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
}

.banners-item-desc {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
}

.banners-items .btn {
  position: absolute;
  bottom: 23px;
  right: 21px;
}

/* хиты */

.product-list {
  list-style: none;
  flex-wrap: wrap;
}

.product-list li.product-item {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.product-item h3 {
  margin: 0;
}

.product-img img {
  border-radius: 135px;
}

.product-desc a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.product-price-cost {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.product-price-amount {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.product-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
}

.product-item button {
  display: none;
}

.product-item:hover button {
  display: block;
}

/* преимущества */

.features {
  color: #323232;
  background-image: url("../img/waffle.jpg");
  border-radius: 12px;
  max-width: 1146px;
  min-height: 306px;
  padding-left: 21px;
  padding-top: 28px;
  box-sizing: border-box;
}

.features-list {
  list-style: none;
}

.features-desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.feature-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* блог */

.blog-preview {
  color: #323232;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 14px;
  max-width: 560px;
  min-height: 220px;
  padding-left: 21px;
  padding-top: 24px;
  box-sizing: border-box;
}

.blog-preview-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  margin-bottom: 14px;
}

.blog-preview-content {
  margin: 0;
  max-width: 280px;
}

.blog-preview-content a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
}

.blog-preview-content a:hover {
  color: #e84d37;
}

.blog-preview-content a:active {
  color: #e84d37;
}

/* подписка */

.mailing {
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 560px;
  min-height: 220px;
  border-radius: 14px;
  position: relative;
  box-sizing: border-box;
}

.mailing-wrapper {
  background-color: #f8f7f4;
  max-width: 549px;
  min-height: 210px;
  margin: 0 auto;
  border-radius: 14px;
  position: absolute;
  top: 5px;
  left: 5px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 22px;
  padding-right: 21px;
}

.mailing-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
  margin: 0;
  margin-bottom: 42px;
}

/* контакты */

.contacts {
  position: relative;
}

.contacts-info {
  color: #323232;
  background-color: #ffffff;
  box-sizing: border-box;
  position: absolute;
  top: 19.4186%;
  left: 68.5833%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 13px;
}

.contacts-address-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 5px;
}

.contacts-address-phone {
  display: block;
  color: #000;
  text-decoration: none;
}

.contacts-address-phone:hover {
  cursor: pointer;
  color: #000;
}

.contacts-address-content {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.contacts-indent {
  margin-bottom: 23px;
}

.map-placeholder {
  width: 100%;
}

/* футер */

.footer-navigation {
  display: flex;
  justify-content: center;
}

.footer-social li {
  display: inline;
}

.footer-nav-column ul {
  margin: 0;
  margin-top: 35px;
  margin-right: 32px;
}

.footer-social,
.footer-navigation ul {
  list-style: none;
}

.footer-navigation-item a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.whomade {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fefefe;
  text-align: right;
}

a.bold {
  font-weight: 700;
}

/* обратная связь */

.feedback-popup-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

/* каталог */

/* шапка */

.basket-with-products {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

/* Хлебные крошки */

.breadcrumbs {
  list-style: none;
  margin: 0px;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs-item-current {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

/* название страницы каталога */

.catalog-heading {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

/* фильтры */

.filter-choice {
  display: flex;
  flex-wrap: wrap;
}

.filter-choice-col {
  margin-right: 16px;
}

.filter-choice-col:nth-child(5n) {
  margin-right: 0px;
}

.filter-choice select.input-transparent:hover {
  color: #323232;
}

.btn-filter {
  border: 2px solid #ffffff;
}

.btn-filter:hover {
  color: #323232;
  background-color: #ffffff;
}

.btn-filter:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
}

/* пагинация */

.pagination-list {
  list-style: none;
  text-align: right;
}

.pagination-item {
  display: inline;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}

/* сетка */

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.indent {
  margin-bottom: 40px;
}

.col-1 {
  width: 267px;
  margin-right: 26px;
  box-sizing: border-box;
}

.col-1:nth-child(4n) {
  margin-right: 0;
}

.col-2 {
  width: 560px;
  margin-right: 26px;
  box-sizing: border-box;
}

.col-2:nth-child(2n) {
  margin-right: 0;
}

.col-3 {
  width: 879px;
  box-sizing: border-box;
}
